="Hi #{@challenge.author.name}!"

="#{@participant.name} has solved your challenge #{@challenge.name} (#{@challenge_url})!"

="Come on! Write a new one ;) (#{@challenges_url})"

Happy solving,

CeSeNA Team
