="Hi #{@participant.name}!"

="#{@challenge.author.name} inserted a new #{@challenge.points} pts challenge about #{@challenge.category}. Try to solve it! (#{@challenge_url})."

="#{@challenge.name}"

="#{@challenge.text}"

Happy solving,

CeSeNA Team
