%div.hero-unit
  %h2 Participants
  %p A participant can solve and write new challenges!
  - if current_participant.nil?
    = link_to 'Login now with google, facebook or twitter!', login_path, :class => "btn btn-primary btn-large"
  -else
    = link_to 'See your profile!', participant_path(current_participant.id), :class => "btn btn-primary btn-large"

%table{:id => "participants", :class => "table table-striped table-bordered"}
  %thead
    %tr
      %th Name
      %th Points
  %tbody{ "data-provides" => "rowlink"}
    - @participants.each do |part|
      %tr
        %td
          = link_to "", participant_path(part.id)
          %span.link= part.name
        %td= part.points

